@import '_reset';
@import '_variables';
@import '_mixins';

// Glide carousel slider
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.theme";

body {
    background-color: $gray-light;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    line-height: 1;
    min-height: 100vh;
    padding: $padding/2;
    word-break: break-word;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

button {
    @include button-styles;
}

h1 {
    font-size: 2rem;
}

p{
    font-size: 1.2rem;
    line-height: 1.4em;
}

.#{$header} {
    @include display-flex($align-items: flex-end);
    
    background-color: $blue;
    padding: $padding*2;

    > * {
        flex: 1;
    }
    
    &#{$es}logos {
        @include display-flex($align-items: flex-end);

        &#{$es}__its {
            border-left: 1px solid $white;
            padding: $padding/2 $padding;
        }
    }
}

.#{$nav} {
    text-align: right;
    
    &#{$es}top {
        @include display-flex($justify-content: flex-end);
        
        border-bottom: 1px solid $blue-light;
        font-size: .8rem;
        margin-bottom: $margin/2;
        padding-bottom: $padding/2;
    }
    
    &#{$es}its-alerts {
        @include button-styles($border-color: $blue-light);
        
        box-shadow: 0px 0px 2px $black;
        color: $white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: $padding/2;
        text-decoration: none;
        
        &#{$es}icon {
            background-color: $green;
            border-radius: 50%;
            margin-top: -1px;
            width: 5px;
            height: 5px;
        }
        
        &#{$es}text {
            padding-left: $padding/2;
        }
    }
    
    &#{$es}menu {
        @include display-flex;
        
        a {
            color: $white;
            text-decoration: none;
        }
    }
    
    .sub-menu {
        display: none;
    }
    
    &#{$es}menu#{$ms}social {
        a {
            font-family: "Font Awesome 5 Brands";
            font-size: 0;
            padding-left: $padding*2;
            text-indent: -9999px;
            
            &:before {
                font-size: initial;
            }
        }
        
        .twitter a:before {
            content: "\f099";
        }
        
        .facebook a:before {
            content: "\f09a";
        }
        
        .instagram a:before {
            content: "\f16d";
        }
        
        .youtube a:before {
            content: "\f167";
        }
        
        .linkedin a:before {
            content: "\f08c";
        }
    }
}

.content {
    flex-grow: 1;
}

.#{$section} {
    &#{$es}width {
        margin: 0 auto;
        max-width: $section-width;
        padding-top: $padding*4;
        padding-bottom: $padding*4;
    }

    &#{$es}header {
        @include display-flex;

        padding: $padding;
    }

    &#{$es}button:hover {
        @include button-hover;
    }

    &#{$es}posts {
        @include display-flex($align-items: flex-start);

        > * {
            flex: 0 1 25%;
            padding: $padding;
        }

    }

    &#{$es}link {
        text-decoration: none;

        &:hover button {
            @include button-hover;
        }
    }
    
    &#{$ms}#{$featured} {
        background-color: $white;
        
        &#{$es}button {
            @include button-styles($background-color: $blue, $border-color: transparent, $color: $white);
            
            font-size: 1.2rem;
        }
    }
    
    &#{$es}#{$carousel}-item {
        @include display-flex;
        
        text-decoration: none;
    }
    
    &#{$ms}#{$alerts} {
        &#{$es}link {
            @include display-flex($justify-content: center);
            
            background-color: $green;
            color: $white;
            padding: $padding;
            text-align: center;
            text-decoration: none;
            
            > * {
                padding: $padding;
            }
        }
        
        &#{$es}title {
            font-size: 2rem;
        }
        
        &#{$es}excerpt p {
            font-size: 1.5rem;
        }
        
        &#{$es}button {
            @include button-styles($border-color: $white);
            
            font-size: 1.2rem;
        }
    }
    
    &#{$ms}#{$news} {
        background-color: $white;
        
        &#{$es}heading {
            color: $blue-light;
        }
        
        &#{$es}button {
            @include button-styles($border-color: $blue-light, $color: $blue-light);
            
            font-size: 1.2rem;
        }
        
        &#{$es}link {
            color: $blue;
        }

        &#{$es}image {
            margin-bottom: $margin;
        }
        
        &#{$es}title {
            font-size: 1.5rem;
            font-weight: bold;
            padding-left: $padding;
            padding-right: $padding;
        }
    }
    
    &#{$ms}#{$follow} {
        &#{$es}button {
            @include button-styles($border-color: $gray-dark, $color: $gray-dark);
        }

        &#{$es}image {
            margin-bottom: $margin;
        }
        
        &#{$es}posts#{$es}button {
            width: 100%;
        }
    }
    
    &#{$ms}#{$highlights} {
        &#{$es}width {
            padding-top: 0;
        }

        &#{$es}posts {
            flex-wrap: wrap;
            
            > * {
                flex-basis: 50%;
                padding-right: $padding;   
            }
            
            &#{$es}title {
                font-size: 3rem;
                margin-bottom: $margin;
            }
            
            &#{$es}button {
                @include button-styles($border-color: $gray-dark, $color: $black);
                
                display: inline-block;
                font-size: 1.2rem;
            }
            
            &#{$es}excerpt {
                font-size: 2rem;
                line-height: 1.4em;
                text-align: left;
            }
        }
        
        &#{$es}post{
            display: flex;
            align-self: stretch;
        }
        
        &#{$es}link {
            background-image: linear-gradient($white, $gray-light);
            border: 1px solid $white;
            color: $black;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: $padding*4;
            text-align: center;

            &#{$es}top {
                margin-bottom: $margin*2;
            }

            &#{$es}bottom {
                @include display-flex($align-items: flex-start);

                > * {
                    flex-basis: 50%;
                    flex-grow: 1;
                }
            }

            &#{$es}image {
                padding-left: $padding;
            }
        }
    }
}

.#{$footer} {
    background-color: $blue-medium;
    color: $white;
    font-size: 2rem;
    padding-top: $padding*4;
    
    .section__width {
        @include display-flex;
        
        border-top: 1px solid $blue-light;
    }
}
