// Colours
$black: #000000 !default;
$blue-very-light: #99ccff !default;
$blue-light: #336699 !default;
$blue-medium: #0066CC !default;
$blue-dark: #003366 !default;
$gray-light: #cccccc !default;
$gray-medium: #999999 !default;
$gray-dark: #666666 !default;
$green-very-light: #99cc99 !default;
$green-medium: #339933 !default;
$gold-very-light: #FAFAD2 !default;
$gold-light: #F0E68C !default;
$gold-medium: #FFD700 !default;
$white: #ffffff !default;

// Spacing
$section-width: 960px;
$margin: 1rem !default;
$padding: 1rem !default;

// Class names
$es: '__' !default; // Element separator
$ms: '--' !default; // Modifier separator
$header: 'header' !default;
$nav: 'nav' !default;
$section: 'section' !default;
$carousel: 'carousel' !default;
$alerts: 'alerts' !default;
$news: 'news' !default;
$follow: 'follow' !default;
$highlights: 'highlights' !default;
$footer: 'footer' !default;

// CSS variables
// Convert Hex values to RGBA if needed
@function hex-to-rgb( $hex ) {
    @return red( $hex ), green( $hex ), blue( $hex );
}
:root {
    --black: #{ $black };
    --blue-very-light: #{ $blue-very-light };
    --blue-light: #{ $blue-light };
    --blue-medium: #{ $blue-medium };
    --blue-dark: #{ $blue-dark };
    --blue-dark--rgb: #{ hex-to-rgb( $blue-dark ) };
    --gray-light: #{ $gray-light };
    --gray-medium: #{ $gray-medium };
    --gray-dark: #{ $gray-dark };
    --green-very-light: #{ $green-very-light };
    --green-medium: #{ $green-medium };
    --gold-very-light: #{ $gold-very-light };
    --gold-light: #{ $gold-light };
    --gold-medium: #{ $gold-medium };
    --white: #{ $white };
    --margin: #{ $margin };
    --padding: #{ $padding };
}
