// Intialization
@import '_reset';
@import '_variables';
@import '_mixins';

//Legacy
@import 'legacy';

// Glide carousel slider
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.theme";

body {
    @include line-height(
        $line-height: 1
    );
    
    background-color: $gray-light;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', Arial, Helvetica, Verdana, sans-serif;
    min-height: 100vh;
    padding: $padding/2;
    word-break: break-word;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

button {
    @include button-styles;
}

h1 {
    font-size: 2rem;
}

p{
    @include line-height;

    font-size: 1.2rem;
}

// Header
.#{$header} {
    @include display-flex(
        $align-items: flex-end,
    );
    
    background-color: $blue-dark;
    padding: $padding*2;
    
    &#{$es}logos {
        @include display-flex(
            $align-items: flex-end,
            $media-queries: false
        );
        @include for-phone-only {
            align-items: center;
            margin-bottom: $margin;
        }

        > * {
            @include for-phone-only {
                flex-basis: 50%;
            }
        }

        &#{$es}uoft {
            max-width: 225px;
            padding-right: $padding*2;
        }

        &#{$es}its {
            border-left: 1px solid $white;
            color: $white;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 1.4rem;
            font-weight: 600;
            padding: $padding/2 $padding*2;
            text-decoration: none;

            &#{$es}top {
                display: block;
                font-size: 2.6rem;
                margin-bottom: $margin/2;
            }
        }
    }
}

// Navigation
.#{$nav} {
    &#{$es}top {
        @include display-flex(
            $justify-content: flex-end
        );
        @include for-phone-only {
            justify-content: center;
        }
        
        border-bottom: 1px solid $blue-light;
        padding-bottom: $padding/2;
        text-align: right;

        > * {
            @include for-phone-only {
                margin-bottom: $margin;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    &#{$es}esc {
        @include button-hover;
        @include button-styles;
        @include transition;
        @include for-phone-only {
            margin-right: 0;
            text-align: center;
        }

        margin-right: $margin*2;
    }

    &#{$es}its-alerts {
        @include button-hover;
        @include button-styles;
        @include transition;
        @include for-phone-only {
            margin-right: 0;
        }
        
        align-items: center;
        color: $white;
        display: inline-flex;
        justify-content: center;
        margin-right: $margin;
        padding: $padding/2;
        text-decoration: none;
        
        &#{$es}icon {
            background-color: $green-medium;
            border-radius: 50%;
            margin-top: -1px;
            width: 5px;
            height: 5px;
        }
        
        &#{$es}text {
            padding-left: $padding/2;
        }
    }
    
    &#{$es}menu { // Level 1 Menu
        @include display-flex(
            $media-queries: false
        );

        font-size: 1.2rem;
        position: relative;
        
        .menu-item {
            @include button-hover(
                $background-color: $blue-medium
            );
            @include line-height;
            @include transition;
            
            display: flex;
            align-items: center;
            padding: $padding;

            &:hover {
                > .nav__menu__arrow:before {
                    color: $blue-dark;
                    content: '\f106';
                }

                > .sub-menu { // Level 2 Menu
                    @include display-flex(
                        $align-items: flex-start,
                        $justify-content: flex-start,
                        $media-queries: false
                    );
                    
                    flex-wrap: wrap;
                    
                    > * {
                        flex: 0 1 100%;
                        padding: $padding;
                    }
                }
            }
            
            .menu-item { // Level 2 Menu
                @include button-hover(
                    $background-color: $blue-light
                );
                @include transition;

                background-color: $blue-medium;
                position: relative;

                .menu-item { // Level 3 Menu
                    @include button-hover(
                        $background-color: $gray-light
                    );
                    @include transition;

                    background-color: $blue-light;
                }
            }
        }
    
        a {
            color: $white;
            text-decoration: none;
        }

        &#{$es}arrow {
            color: $white;
            font-size: 1.5rem;
            padding-left: $padding/2;
        }
    }
    
    .sub-menu { // Level 2 Menu
        display: none;
        position: absolute;
        top: 100%;
        left: $padding;
        z-index: 10000;
    }
    
    &#{$es}menu#{$ms}social {
        .menu-item {
            @include line-height(
                $line-height: 1
            );

            padding-left: $padding/2;
        }

        a {
            font-family: "Font Awesome 5 Brands";
            font-size: 0;
            padding-left: $padding*2;
            text-indent: -9999px;
            
            &:before {
                font-size: initial;
            }
        }
        
        .twitter a:before {
            content: "\f099";
        }
        
        .facebook a:before {
            content: "\f09a";
        }
        
        .instagram a:before {
            content: "\f16d";
        }
        
        .youtube a:before {
            content: "\f167";
        }
        
        .linkedin a:before {
            content: "\f08c";
        }
    }

    &#{$es}menu#{$ms}main {
        @include for-phone-only {
            display: none;
        }
    }
}

.content {
    flex-grow: 1;
}

.#{$section} {
    &#{$es}width {
        margin: 0 auto;
        max-width: $section-width;
        overflow: hidden;
        padding-top: $padding*4;
        padding-bottom: $padding*4;
    }

    &#{$es}header {
        @include display-flex;

        padding: $padding;

        > * {
            @include for-phone-only {
                text-align: center;
            }
        }
    }

    &#{$es}button {
        @include button-hover;
        @include transition;

        @include for-phone-only {
            margin-top: $margin;
        }
    }

    &#{$es}posts {
        @include display-flex(
            $align-items: flex-start,
            $flex-basis: 25%,
            $flex-grow: 1
        );

        @include for-phone-only {
            flex-wrap: wrap;
        }

        > * {
            @include for-phone-only {
                flex-basis: 100%;
            }

            padding: $padding;
        }
    }

    &#{$es}link {
        @include button-hover(
            link
        );

        &#{$es}title {
            font-family: 'Open Sans Condensed', sans-serif;
        }

        button {
            @include transition;
        }

        text-decoration: none;
        
        &#{$es}image {
            border: 1px solid $gray-light;
        }
    }
    
    // Carousel
    &#{$ms}#{$carousel} {
        @include background-gradient(diagonal, $blue-very-light, $gray-light);
        
        &#{$es}link {
            @include display-flex(
                $flex-basis: 50%,
                $flex-grow: 1
            );
            
            color: $blue-medium;
            padding-left: $padding*8;
            padding-right: $padding*8;
            text-decoration: none;

            &#{$es}title {
                font-size: 4rem;
                margin-bottom: $margin;
            }
            
            &#{$es}excerpt {
                font-size: 1.5rem;
                margin-bottom: $margin;
            }

            &#{$es}button {
                @include button-styles;

                @include for-phone-only {
                    width: 100%;
                }
            }

            &#{$es}copy {
                margin-bottom: $margin;
            }
                
            &#{$es}image-con {
                @include for-phone-only {
                    padding-left: 0;
                }

                padding-left: $padding;
            }
                
            &#{$es}image {
                border-color: $white;
            }
        }
    }
    
    // Alerts
    &#{$ms}#{$alerts} {
        &#{$es}link {
            @include display-flex(
                $justify-content: center
            );
            
            background-color: $green-medium;
            color: $white;
            padding: $padding;
            text-align: center;
            text-decoration: none;
            
            &#{$es}title {
                font-size: 3rem;
                text-transform: uppercase;
            }
            
            &#{$es}excerpt {
                @include line-height;

                font-size: 1.5rem;
                padding: $padding*2;
            }
            
            &#{$es}button {
                @include button-styles;
            }
        }
    }
    
    // News
    &#{$ms}#{$news} {
        background-color: $white;
        
        &#{$es}heading {
            color: $blue-light;
        }
        
        &#{$es}button {
            @include button-styles;
        }

        &#{$es}post {
            display: flex;
            align-self: stretch;
        }
        
        &#{$es}link {
            @include button-hover;
            @include transition;
            
            border: 1px solid $gray-light;
            color: $blue-dark;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            
            &#{$es}image-con {
                @include ratio;
            }

            &#{$es}image {
                border: none;
            }
            
            &#{$es}title {
                @include line-height;
                
                font-size: 1.5rem;
                font-weight: bold;
                padding: $padding;
            }
        }
    }
    
    // Follow
    &#{$ms}#{$follow} {
        background-color: $gray-medium;

        &#{$es}heading {
            color: $blue-dark;
        }

        &#{$es}button {
            @include button-styles;
        }

        &#{$es}link {
            &#{$es}button {
                width: 100%;
            }
        }
    }
    
    // Highlights
    &#{$ms}#{$highlights} {
        &#{$es}posts {
            flex-wrap: wrap;
            
            > * {
                flex-basis: 50%;
                padding-right: $padding;

                @include for-phone-only {
                    flex-basis: 100%;
                }
            }
        }

        &#{$es}post {
            display: flex;
            align-self: stretch;

            &:nth-of-type(2) .section__link {
                @include background-gradient( $gradient-direction: diagonal, $gradient-color-1: $gray-light, $gradient-color-2: $blue-very-light );
            }

            &:nth-of-type(3) .section__link {
                @include background-gradient( $gradient-direction: diagonal, $gradient-color-1: $gold-light, $gradient-color-2: $gold-very-light );
            }

            &:nth-of-type(4) .section__link {
                @include background-gradient( $gradient-direction: diagonal, $gradient-color-1: $gray-light, $gradient-color-2: $green-very-light );
            }
        }

        &#{$es}link {
            @include background-gradient;

            border: 1px solid $white;
            color: $black;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: $padding*4;
            text-align: center;

            &#{$es}top {
                margin-bottom: $margin*2;
            }

            &#{$es}title {
                font-size: 3rem;
                margin-bottom: $margin;
            }
            
            &#{$es}button {
                @include button-styles;
                
                display: inline-block;
            }
            
            &#{$es}bottom {
                @include display-flex(
                    $align-items: flex-start
                );
                
                > * {
                    flex-basis: 50%;
                    flex-grow: 1;
                }
            }
                
            &#{$es}excerpt {
                @include line-height;

                font-size: 1.5rem;
                text-align: left;
            }

            &#{$es}excerpt + &#{$es}image-con {
                padding-left: $padding;
            }
        }
    }
}

// Footer
.#{$footer} {
    background-color: $blue-dark;
    color: $white;
    font-size: 2rem;

    .nav__menu--footer {
        @include for-phone-only {
            flex-wrap: wrap;
        }
        
        padding: 0 $padding*4 $padding*4;

        > * {
            @include display-flex(
                $justify-content: center
            );
            @include line-height;
            @include for-phone-only {
                flex-basis: 100%;
                margin-bottom: $margin;
                margin-right: 0;

                &:last-child{
                    margin-bottom: 0;
                }
            }

            align-self: stretch;
            border: 3px dashed $blue-light;
            flex: 1;
            flex-direction: column;
            margin-right: $margin*2;
            padding-top: $padding*4;
            padding-bottom: $padding*4;
            text-align: center;

            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    &#{$es}bottom {
        @include display-flex;

        > * {
            @include for-phone-only {
                margin-bottom: $margin;
                margin-right: 0;
                
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

        border-top: 1px solid $blue-light;
        padding: $padding*2 $padding*2 0;
    }
}
