// Intialization
@import '_reset';
@import '_variables';
@import '_mixins';

//Legacy
@import 'legacy';

// Glide carousel slider
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.theme";

body {
    @include line-height(
        $line-height: 1
    );
    
    background-color: var(--gray-light);
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', Arial, Helvetica, Verdana, sans-serif;
    min-height: 100vh;
    padding: $padding/2;
    word-break: break-word;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

button {
    @include button-styles;
}

h1 {
    font-size: 2rem;
}

p {
    @include line-height;

    font-size: 1.2rem;
}

a {
    color: inherit;
}

// Header
.#{$header} {
    @include display-flex(
        $align-items: flex-end,
        $justify-content: center
    );
    
    background-color: var(--blue-dark);
    padding: $padding*2;
    
    &#{$es}logos {
        @include display-flex(
            $align-items: flex-end,
            $media-queries: false
        );
        @include for-phone-only {
            align-items: center;
            margin-bottom: $margin;
        }

        > * {
            @include for-phone-only {
                flex-basis: 50%;
            }
        }

        &#{$es}uoft {
            max-width: 225px;
            padding-right: 32px;
        }

        &#{$es}its {
            border-left: 1px solid var(--white);
            color: var(--white);
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 1.4rem;
            font-weight: 600;
            padding: $padding/2 $padding*2;
            padding-left: 32px;
            text-decoration: none;

            &#{$es}top {
                display: block;
                font-size: 2.6rem;
                margin-bottom: $margin/2;
            }
        }
    }
}

// Navigation
.#{$nav} {    
    &#{$es}top {
        @include display-flex(
            $justify-content: flex-end
        );
        @include for-phone-only {
            justify-content: center;
        }
        
        border-bottom: 1px solid var(--blue-light);
        padding-bottom: $padding/2;
        text-align: right;

        > * {
            @include for-phone-only {
                margin-bottom: $margin;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    &#{$es}esc {
        @include button-hover;
        @include button-styles;
        @include transition;
        @include for-phone-only {
            margin-right: 0;
            text-align: center;
        }

        margin-right: $margin*2;
    }

    &#{$es}its-alerts {
        @include button-hover;
        @include button-styles;
        @include transition;
        @include for-phone-only {
            margin-right: 0;
        }
        
        align-items: center;
        color: var(--white);
        display: inline-flex;
        justify-content: center;
        margin-right: $margin;
        padding: $padding/2;
        text-decoration: none;
        
        &#{$es}icon {
            background-color: var(--green-medium);
            border-radius: 50%;
            margin-top: -1px;
            width: 5px;
            height: 5px;
        }
        
        &#{$es}text {
            padding-left: $padding/2;
        }
    }
    
    &#{$es}menu { // Level 1 Menu
        @include display-flex(
            $media-queries: false
        );

        font-size: 1.4rem;
        position: relative;
        
        .menu-item {
            @include button-hover(
                $background-color: var(--blue-medium)
            );
            @include line-height;
            @include transition;
            
            display: flex;
            align-items: center;
            padding: $padding;

            &:hover {
                > .nav__menu__arrow:before {
                    color: var(--blue-dark);
                    content: '\f106';
                }

                > .sub-menu { // Level 2 Menu
                    @include display-flex(
                        $align-items: flex-start,
                        $justify-content: flex-start,
                        $media-queries: false
                    );

                    flex-direction: column;
                                        
                    > * {
                        flex: 0 1 100%;
                        padding: $padding;
                    }
                }
            }
            
            .menu-item { // Level 2 Menu
                @include button-hover(
                    $background-color: var(--blue-light)
                );
                @include transition;

                background-color: var(--blue-medium);
                position: relative;
                width: 100%;

                .menu-item { // Level 3 Menu
                    @include button-hover(
                        $background-color: var(--gray-medium)
                    );

                    &:hover a {
                        color: $black;
                    }

                    @include transition;

                    background-color: var(--blue-light);
                }
            }
        }
    
        a {
            color: var(--white);
            text-decoration: none;
        }

        &#{$es}arrow {
            color: var(--white);
            font-size: 1.5rem;
            padding-left: $padding/2;
        }
    }
    
    .sub-menu { // Level 2 Menu
        background-color: var(--blue-medium);
        display: none;
        position: absolute;
        top: 100%;
        left: $padding;
        z-index: 10000;

        .sub-menu {
            background-color: var(--blue-light);
        }
    }
    
    &#{$es}menu#{$ms}social {
        .menu-item {
            @include line-height(
                $line-height: 1
            );

            padding-left: $padding/2;
        }

        a {
            font-family: "Font Awesome 5 Brands";
            font-size: 0;
            padding-left: $padding*2;
            text-indent: -9999px;
            
            &:before {
                font-size: 2rem;
            }
        }
        
        .twitter a:before {
            content: "\f099";
        }
        
        .facebook a:before {
            content: "\f09a";
        }
        
        .instagram a:before {
            content: "\f16d";
        }
        
        .youtube a:before {
            content: "\f167";
        }
        
        .linkedin a:before {
            content: "\f08c";
        }
    }

    &#{$es}menu#{$ms}main {
        @include for-phone-only {
            display: none;
        }
    }
}

.content {
    flex-grow: 1;
}

.#{$section} {
    &#{$es}width {
        margin: 0 auto;
        max-width: $section-width;
        overflow: hidden;
        padding-top: $padding*4;
        padding-bottom: $padding*4;
    }

    &#{$es}header {
        @include display-flex;

        padding: $padding;

        > * {
            @include for-phone-only {
                text-align: center;
            }
        }
    }

    &#{$es}button {
        @include button-hover;
        @include transition;

        @include for-phone-only {
            margin-top: $margin;
        }
    }

    &#{$es}posts {
        @include display-flex(
            $align-items: flex-start,
            $flex-basis: 25%,
            $flex-grow: 1
        );

        > * {
            @include for-phone-only {
                flex-basis: 100%;
            }

            padding: $padding;
        }

        // Pagination nav buttons
        &-nav {
            @include display-flex;

            &#{$es}prev,
            &#{$es}next {
                @include button-styles( $background-color:transparent, $padding: 0 );
                @include button-hover( inside_link );
            }
            
            a {
                @include button-styles;
                @include display-flex;
                @include transition;

                > * {
                    padding: 0 $padding/2;
                }
            }
        }
    }

    &#{$es}image-fallback {
        @include display-flex( $justify-content: center);
        flex-direction: column;
        flex-grow: 1;
    }

    &#{$es}link {
        @include button-hover( outside_link );

        &#{$es}title {
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: 700;
        }

        button {
            @include transition;
        }

        text-decoration: none;
        
        &#{$es}image {
            border: 1px solid var(--gray-light);
        }
    }

    // Category pages
    &#{$ms}category {
        background-color: $white;

        &#{$es}width {
            padding-top: initial;
        }

        &#{$es}post {
            align-self: stretch;
            display: flex;
            flex-basis: calc( 100% / 3 );
            position: relative;
        }

        &#{$es}link {
            @include button-hover;
            @include transition;

            display: flex;
            flex-direction: column;
            flex-grow: 1;
            position: relative;
            
            &#{$es}image-con {
                @include ratio( 16_9 );
            }
        }

        &#{$es}button {
            @include button-styles( $padding: $padding/2 );
            @include background-color-rgba( var(--blue-dark--rgb), 0.9 );
            @include line-height;

            bottom: 0;
            left: 0;
            position: absolute;
            text-align: left;
            width: 100%;
        }
    }

    // Carousel
    &#{$ms}#{$carousel} {
        @include background-gradient(diagonal, var(--blue-very-light), var(--gray-light));
        
        &#{$es}link {
            @include display-flex(
                $flex-grow: 1
            );
            
            color: var(--blue-medium);
            padding-left: $padding*8;
            padding-right: $padding*8;
            text-decoration: none;

            &#{$es}title {
                font-size: 3.8rem;
                margin-bottom: $margin;
            }
            
            &#{$es}excerpt {
                font-size: 1.7rem;
                margin-bottom: $margin;
            }

            &#{$es}button {
                @include button-styles;

                @include for-phone-only {
                    width: 100%;
                }
            }

            &#{$es}copy {
                flex-basis: 35%;
                margin-bottom: $margin;
            }
                
            &#{$es}image-con {
                @include for-phone-only {
                    padding-left: 0;
                }

                flex-basis: 65%;
                padding-left: $padding;
            }
                
            &#{$es}image {
                border-color: var(--white);
            }
        }
    }
    
    // Alerts
    &#{$ms}#{$alerts} {
        &#{$es}link {
            @include display-flex(
                $justify-content: center
            );
            
            background-color: var(--green-medium);
            color: var(--white);
            padding: $padding;
            text-align: center;
            text-decoration: none;
            
            &#{$es}title {
                font-size: 3rem;
                text-transform: uppercase;
            }
            
            &#{$es}excerpt {
                @include line-height;

                font-size: 1.5rem;
                padding: $padding*2;
            }
            
            &#{$es}button {
                @include button-styles;
            }
        }
    }
    
    // News
    &#{$ms}#{$news} {
        background-color: var(--white);
        
        &#{$es}heading {
            color: var(--blue-light);
        }
        
        &#{$es}button {
            @include button-styles;
        }

        &#{$es}post {
            display: flex;
            align-self: stretch;
        }
        
        &#{$es}link {
            @include button-hover;
            @include transition;
            
            border: 1px solid var(--gray-light);
            color: var(--blue-dark);
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            
            &#{$es}image-con {
                @include ratio;
            }

            &#{$es}image {
                border: none;
            }
            
            &#{$es}title {
                @include line-height;
                
                font-size: 1.5rem;
                font-weight: bold;
                padding: $padding;
            }
        }
    }
    
    // Follow
    &#{$ms}#{$follow} {
        &#{$es}width {
            padding-bottom: 0;
        }

        &#{$es}heading {
            color: var(--blue-dark);
        }

        &#{$es}button {
            @include button-styles;

            &:before {
                content: "\f099";
                font-family: "Font Awesome 5 Brands";
                font-size: 2rem;
                padding-right: $padding;
            }
        }

        &#{$es}link {
            &#{$es}button {
                width: 100%;
            }
        }
    }
    
    // Highlights
    &#{$ms}#{$highlights} {
        &#{$es}width {
            padding-top: 0;
        }

        &#{$es}posts {            
            > * {
                flex-basis: 50%;
                padding-right: $padding;

                @include for-phone-only {
                    flex-basis: 100%;
                }
            }
        }

        &#{$es}post {
            display: flex;
            align-self: stretch;

            &:nth-of-type(1) .section__link {
                background: linear-gradient(45deg, var(--white) 0%, var(--gray-light) 5%, var(--gray-medium) 15%, var(--gray-dark) 35%, var(--gray-medium) 50%, var(--gray-light) 75%, var(--white) 100%);
            }

            &:nth-of-type(2) .section__link {
                background: linear-gradient(225deg, var(--white) 0%, var(--blue-very-light) 5%, var(--blue-light) 15%, var(--blue-medium) 35%, var(--gray-medium) 50%, var(--gray-light) 75%, var(--white) 100%);
            }

            &:nth-of-type(3) .section__link {
                background: linear-gradient(135deg, var(--white) 0%, var(--gold-very-light) 5%, var(--gold-light) 15%, var(--gold-medium) 35%, var(--gray-light) 50%, var(--gray-medium) 75%, var(--gray-dark) 100%);
            }

            &:nth-of-type(4) .section__link {
                background: linear-gradient(315deg, var(--green-medium) 0%, var(--green-light) 15%, var(--green-very-light) 35%, var(--white) 50%, var(--gray-light) 75%, var(--gray-medium) 100%);
            }
        }

        &#{$es}link {
            @include background-gradient;

            border: 1px solid var(--white);
            color: var(--black);
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: $padding*2;
            text-align: center;

            &#{$es}top {
                margin-bottom: $margin*2;
            }

            &#{$es}title {
                font-size: 3rem;
                margin-bottom: $margin;
            }
            
            &#{$es}button {
                @include button-styles;
                
                display: inline-block;
            }
            
            &#{$es}bottom {
                @include display-flex(
                    $align-items: flex-start
                );
                
                > * {
                    flex-basis: 50%;
                    flex-grow: 1;
                }
            }
                
            &#{$es}excerpt {
                @include line-height;

                font-size: 1.5rem;
                text-align: left;
            }

            &#{$es}excerpt + &#{$es}image-con {
                padding-left: $padding;
            }
        }
    }
}

// Footer
.#{$footer} {
    background-color: var(--blue-dark);
    color: var(--white);
    font-size: 2rem;

    .nav__menu--footer {
        padding: 0 $padding*4 $padding*4;

        > * {
            @include display-flex(
                $justify-content: center
            );
            @include line-height;
            @include for-phone-only {
                flex-basis: 100%;
                margin-bottom: $margin;
                margin-right: 0;

                &:last-child{
                    margin-bottom: 0;
                }
            }

            align-self: stretch;
            border: 3px dashed var(--blue-light);
            flex: 1;
            flex-direction: column;
            margin-right: $margin*2;
            padding-top: $padding*4;
            padding-bottom: $padding*4;
            text-align: center;

            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    &#{$es}bottom {
        @include display-flex;

        > * {
            @include for-phone-only {
                margin-bottom: $margin;
                margin-right: 0;
                
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

        border-top: 1px solid var(--blue-light);
        padding: $padding*2 $padding*2 0;
    }
}

// Breadcrumbs
.breadcrumbs {
    background-color: $white;
    font-size: 1.2rem;
    padding: $padding;

    a {
        color: $gray-medium;
        text-decoration: none;
    }
    
    .divider {
        padding:0 5px;
        color: #999;
    }
    
    .active a {
        color: $gray-dark;
    }
    
    .trail-browse {
        display: none !important;
    }
}
